.container-2 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container-2 {
        max-width: 1240px;
    }
}

#navbar {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 0px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
}

.sign-in {
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
}

.sign-in:hover {
    color: #007bff;
}

nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: rgb(255, 255, 255);
}

nav a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    line-height: 44px;
    font-family: avenir-next-medium, arial;
    color: rgb(0, 0, 0);
    opacity: 0.9;
    white-space: nowrap;
    cursor: pointer;
    height: 44px;
    padding: 0px;
    text-transform: uppercase;
}

nav a:hover {
    text-decoration: none;
    color: #007bff
}


#hotdeal .title {
    font-size: 30px !important;
    line-height: 50px !important;
    height: 50px !important;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: trirong-regular, serif;
    color: rgb(0, 0, 0);
    letter-spacing: -0.5px;
}

.swiper-container .swiper-button-prev {
    width: 40px;
    height: 60px;
    opacity: 0;
    transform: translate(-60px, -50%);
    visibility: hidden;
}

.swiper-container:hover .swiper-button-prev {
    opacity: 1;
    transform: translate(1px, -50%);
    visibility: visible;
}

.swiper-container .swiper-button-next {
    width: 40px;
    height: 60px;
    opacity: 0;
    transform: translate(60px, -50%);
    visibility: hidden;
}

.swiper-container:hover .swiper-button-next {
    opacity: 1;
    transform: translate(1px, -50%);
    visibility: visible;
}